*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif ;
    padding-bottom: 38px;
    background: #fff;
}

.top_header{
    border: solid 0.5px yellow;
    background-color: rgb(153, 150, 150) ;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    height: 105px;
}

.logo{
    display: block;
    justify-content: flex-end;
}
#paz-logo{
    position: absolute;  
}

.search_bar{
    /* border: solid 0.5px;  */
    margin-right:65% ;
    margin-top: 20px ;
    margin-bottom: 0;
    font-size: 12px;
}

#top_searchbox{
    border: none;
    border-radius: 2px 5px 2px 2px;
    width: 130px ;
    margin: 0;
    padding: 2px;
}

#search_img{
    background-image: url(/images/search_button.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: auto;
}

.navbar a{
    /* float: right; */
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main_content{
    display: flex;
    border: purple solid 0.5px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0% 12% 0% 12%;
}

.items{
    /* border-radius: 0px 30px 0px 0px; */
    background-color: aqua;
    padding: 5px;
    margin: 5px;
    position: relative;
}

p{
    background-color: rgb(153, 150, 150);
    opacity: 0.9;
    border-radius: 0px 0px 30px 0px;    
    border: solid;
    width: 250px;
    height: 77px;
    position: absolute;
    right: 8px;
    bottom: 10px;
    
}

.fixed_footer{
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: center;
    background-color: rgb(153, 150, 150);
    justify-content: center;
    padding: 7px;
    width: 100%;  
}

a{
    color: snow;
    padding: 3px;
    /* border-left: 2px solid ; */
    text-decoration: none;
}

#settlement{
    border: none;
    color: red;
}

#item1{
    border-radius: 0px 0px 30px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 355px;
}

#item2{
    border-radius: 0px 0px 30px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 355px;
}

#item3{
    border-radius: 0px 0px 30px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 355px;
}

#item4{
    border-radius: 0px 30px 0px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 216px;
}

#item5{
    border-radius: 0px 30px 0px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 216px;
}

#item6{
    border-radius: 0px 30px 0px 0px;
    background-image: url("images/hp_tab_overlay.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 293px;
    height: 216px;
}
